*.pro.user*
*.so
*.so.*
*.dylib
Makefile
mjplayer/mjplayer
mjplayer/*.app
mjplayer/*.dmg
mjviewer/mjviewer
mjviewer/*.app
mjviewer/*.dmg
mjmkindex/mjmkindex
mjframes/mjframes
mjcut/mjcut
*/Makefile.Debug
*/Makefile.Release
mjcommon/version.h
package/win/mjutil-installer.exe
