Source: mjutil
Section: science
Priority: optional
Maintainer: unknown <pi@pi2.club>
Build-Depends: debhelper (>= 9), qt5-default, git, libboost-all-dev, libpcap-dev
Standards-Version: 3.9.5
Homepage: https://github.com/Stormgears-FRC-5422/mjutil
#Vcs-Git: git://anonscm.debian.org/collab-maint/mjutil.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/mjutil.git;a=summary

Package: mjutil
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FRC Motion-JPEG Utilities
 Tools to help debug vision software and algorithms for
 FIRST Robotics Competition
